In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/pyt"hon Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

"""import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))"""

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

"import os\nfor dirname, _, filenames in os.walk('/kaggle/input'):\n    for filename in filenames:\n        print(os.path.join(dirname, filename))"

In [2]:
a=pd.read_csv('../input/h-and-m-personalized-fashion-recommendations/sample_submission.csv').sort_values('customer_id').reset_index(drop=True)

In [3]:
a

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0706016001 0706016002 0372860001 0610776002 07...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0706016001 0706016002 0372860001 0610776002 07...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0706016001 0706016002 0372860001 0610776002 07...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0706016001 0706016002 0372860001 0610776002 07...
...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,0706016001 0706016002 0372860001 0610776002 07...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0706016001 0706016002 0372860001 0610776002 07...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0706016001 0706016002 0372860001 0610776002 07...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,0706016001 0706016002 0372860001 0610776002 07...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,0706016001 0706016002 0372860001 0610776002 07...

In [4]:
b=pd.read_csv("../input/hnm-10/submission_HnM0.237.csv")

In [5]:
b

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0568601043 0568601006 0751471001 0448509014 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0826211002 0924243001 0739590027 0800436010 09...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0794321007 0852643001 0852643003 0858883002 09...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0448509014 0751471001 0924243001 0924243002 05...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0730683050 0791587015 0896152002 0924243001 09...
...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,0804992033 0713997002 0720125039 0740922009 05...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0818754002 0762846031 0759871030 0924243001 06...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0884081001 0762846027 0689365050 0794819001 06...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,0882810001 0714790020 0924243001 0448509014 09...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,0806050001 0924243001 0448509014 0751471001 09...

In [6]:
c=pd.read_csv("../input/hnm-20/submission_HnM0.238.csv")

In [7]:
import gc

In [8]:
a.columns = ['customer_id', 'prediction0']
a['prediction1'] = b['prediction']
a['prediction2'] = c['prediction'].astype(str)
del b,c
gc.collect()
a.head()

,customer_id,prediction0,prediction1,prediction2
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...,0568601043 0568601006 0751471001 0448509014 07...,0568601043 0568601006 0751471001 0448509014 09...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0706016001 0706016002 0372860001 0610776002 07...,0826211002 0924243001 0739590027 0800436010 09...,0826211002 0924243001 0739590027 0800436010 09...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0706016001 0706016002 0372860001 0610776002 07...,0794321007 0852643001 0852643003 0858883002 09...,0794321007 0852643001 0852643003 0924243001 08...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0706016001 0706016002 0372860001 0610776002 07...,0448509014 0751471001 0924243001 0924243002 05...,0448509014 0751471001 0924243001 0924243002 05...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0706016001 0706016002 0372860001 0610776002 07...,0730683050 0791587015 0896152002 0924243001 09...,0730683050 0791587015 0924243001 0896152002 09...

In [9]:
def cust_blend(dt, W = [1,1,1]):
    #Global ensemble weights
    #W = [1.15,0.95,0.85]

    #Create a list of all model predictions
    REC = []

    # Second Try
    REC.append(dt['prediction0'].split())
    REC.append(dt['prediction1'].split())
    REC.append(dt['prediction2'].split())
    #Create a dictionary of items recommended.
    #Assign a weight according the order of appearance and multiply by global weights
    res = {}
    for M in range(len(REC)):
        for n, v in enumerate(REC[M]):
            if v in res:
                res[v] += (W[M]/(n+1))
            else:
                res[v] = (W[M]/(n+1))

    # Sort dictionary by item weights
    res = list(dict(sorted(res.items(), key=lambda item: -item[1])).keys())

    # Return the top 12 items only
    return ' '.join(res[:12])

a['prediction'] = a.apply(cust_blend, W = [0.01,0.30,1.29], axis=1)
a.head()

,customer_id,prediction0,prediction1,prediction2,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...,0568601043 0568601006 0751471001 0448509014 07...,0568601043 0568601006 0751471001 0448509014 09...,0568601043 0568601006 0751471001 0448509014 09...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0706016001 0706016002 0372860001 0610776002 07...,0826211002 0924243001 0739590027 0800436010 09...,0826211002 0924243001 0739590027 0800436010 09...,0826211002 0924243001 0739590027 0800436010 09...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0706016001 0706016002 0372860001 0610776002 07...,0794321007 0852643001 0852643003 0858883002 09...,0794321007 0852643001 0852643003 0924243001 08...,0794321007 0852643001 0852643003 0924243001 08...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0706016001 0706016002 0372860001 0610776002 07...,0448509014 0751471001 0924243001 0924243002 05...,0448509014 0751471001 0924243001 0924243002 05...,0448509014 0751471001 0924243001 0924243002 05...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0706016001 0706016002 0372860001 0610776002 07...,0730683050 0791587015 0896152002 0924243001 09...,0730683050 0791587015 0924243001 0896152002 09...,0730683050 0791587015 0924243001 0896152002 09...

In [10]:
del a['prediction0']
del a['prediction1']
del a['prediction2']
gc.collect()


a.to_csv('submission.csv', index=False)